.login-page {
    .hero {
        min-height: 20%;
    }
    .logo {
        background-image: url('../../img/logo-v1.1.3.png');
        width: 150px;
        display: block;
        height: 151px;
        position: absolute;
        bottom: 0;
        right: 2%;

        @include animate-entrance-logo();
    }

     .login-content {
         background-color: #B1EAF4;
         background-image: url('../../img/background-stripes-small.jpg');

         .login-controls {
             position: relative;
             display: flex;
             flex-wrap: wrap;
             flex-direction: column;
             margin: 0 auto;
             width: 90%;
             min-height: 230px;
             background-color: #fff;
             box-shadow: 0px 0px 20px rgba(68, 68, 68, 0.72);
             border-radius: 10px;
             padding: 5px;

             @include animate-entrance-fade-in(2s);

             .item {
                 padding-right: 16px;
             }
             .buttons {
                 width: 100%;
                 padding: 10px;
                 text-align: right;
                 .button {
                    width: 40%;
                    background-color: #FF8D4F;
                 }
             }
          }


     }
     .cloud {
         background-image: url('../../img/cloud-200x109.png');
         background-repeat: no-repeat;
         position: absolute;
         width: 200px;
         height: 109px;
         top: -30%;
         right: -5%;
         display: flex;
         align-content: center;
         justify-content: center;
         align-items: center;
         transition: all 0.3s ease-in-out;
         z-index: 3;

         &.right {
              @include animate-floating-cloud();
         }
         &.left {
              @include animate-slide-in-left(3s);
         }


         &-button-left {
             background-image: url('../../img/cloud-240x130.png');
             width: 258px;
             height: 130px;
             bottom: -20%;
             top: inherit;
             left: -8%;
             .button {
                 font-size: 1.3em;
                 .ion-logo-googleplus {
                     color: #B71C1C;
                 }
                 .ion-logo-twitter {
                    color: #1D9DB5;
                }
                 &.button-fab {
                     position: relative;
                     width: 50px;
                     height: 50px;
                 }
             }
         }
       }

       .kite {
           position: absolute;;
           background-image: url('../../img/kite.png');
           width: 224px;
           height: 538px;
           bottom: -15%;
           right: -17%;
           z-index: 2;
           transition: all 0.3s ease-in-out;

           transform: scale(0.3);
           @include animate-kite();

            bottom: -54%;
            @media screen and (min-height: 400px) {
                transform: scale(0.7) rotateY(180deg);
                bottom: -50%;
            }
            @media screen and (min-height: 500px) {
                transform: scale(0.8);
                bottom: -40%;
            }
            @media screen and (min-height: 550px) {
                transform: scale(0.8);
                bottom: -28%;
            }
            @media screen and (min-height: 650px) {
                transform: scale(1);
                bottom: -15%;
            }

       }
       .cloud-secondary {
           background-image: url('../../img/cloud-secondary.png');
           position: absolute;
           width: 150px;
           height: 109px;
       }
       .board {
           background-image: url('../../img/board-100x91.png');
           background-repeat: no-repeat;
           position: absolute;
           width: 100px;
           height: 91px;
		   bottom: -46%;
		   left: 18%;
           top: inherit;
           right: 0;
           display: flex;
           align-content: center;
           justify-content: center;
           align-items: center;
           transition: all 0.3s ease-in-out;
           @include animate-board();
           .sign-up {
               color: #F1EB94;
               border-radius: 50%;
               text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.56);
               font-size: 1.2em;
               font-style: normal;
               transform: rotate(-10deg);
              padding-top: 10px;
           }
       }
}
