<!--div class="kite"></div-->
<ion-content class="login-content" [class.bounceIn] = "isLoaded">

    <section class="hero">
    </section>

    <div class="cloud right" >
        <button *ngIf="showRegister" clear class="sign-up-back" (click)="showRegister = false">Back to Login</button>
    </div>

    <section class="login-controls" *ngIf="!showRegister">

        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input #user type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input #pass type="password"></ion-input>
        </ion-item>

        <div class="buttons">
            <button (click)="userPassSignIn(user.value, pass.value)">Login</button>
        </div>
        <div class="cloud left cloud-button-left">
            <button  fab clear  (click)="googleSignIn()">
                <ion-icon name="logo-googleplus"></ion-icon>
            </button>
            <button  fab clear (click)="facebookSignIn()">
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
            <button  fab clear (click)="twitterSignIn()">
                <ion-icon name="logo-twitter"></ion-icon>
            </button>
        </div>
        <div class="board">
            <button *ngIf="!showRegister" clear class="sign-up" (click)="showRegister = true">Sign Up</button>
        </div>
    </section>
    <section class="login-controls" *ngIf="showRegister">

        <ion-item>
            <ion-label floating>Mail</ion-label>
            <ion-input #user type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input #pass type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Reenter Password</ion-label>
            <ion-input #pass type="password"></ion-input>
        </ion-item>

        <div class="buttons">
            <button (click)="createUser(user.value, pass.value);showRegister = false">Register</button>
        </div>
    </section>
</ion-content>
